<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Indique Apellido Doctor</h3>
    <form action=" {% url 'AS' %}" method="GET">{% csrf_token %}
        <input type="text" name="surname" id="surname">
        <input type="submit" value="Buscar">
        
        <button type="button">
            <a href="{% url 'Start' %}">Return to Index</a>
        </button>
    </form>    

    {% if doctors %}
    <P> Estamos buscando doctores con apellido {{surname}} </P>
    <ul>
        {% for doc in doctors %}
            <li>{{doc.name}}</li>
            <li>{{doc.surname}}</li>
        {% endfor %}
    </ul>
{% else %}
    <P> No hay doctores con ese apellido </P>
{% endif %}
    <p style="color:red">{{respuesta}}</p>    
<button type="button">
    <a href="{% url 'Start' %}">Return to Index</a>
</button>
</body>
</html>