{% extends 'AppCoder/base_forms.html' %}

{% load static %}

{% block title %} Editar perfil {% endblock %}

{% block bannertitle %}<h1> editar Perfil</h1>{% endblock %}

{% block breadcrumbstitle %}<li><a href="{% url 'profile' user.id %}">Perfil</a></li>{% endblock %}

{% block formtitle %} <h3>Ingrese los datos que desea modificar:</h3><br> {% endblock %}

{% block botoninput %}
<input type="submit" value="Guardar" class="new-button"> 
{% endblock %}

{% block botonenviar %}
<button type="button" class="new-button">
    <a href="{% url 'Index' %}">Volver al inicio</a>
</button>
{% endblock %}

