{% extends 'AppCoder/base.html' %}

{% load static %}

{% block title %} Pacientes {% endblock %}


{% block principal %}

    <div class="uni-checkout">
        <div id="wrapper-container" class="site-wrapper-container">

            {% block header %}
                <header>
                    <div class="uni-medicare-header sticky-menu">
                        <div class="container">
                            <div class="uni-medicare-header-main">
                                <div class="row">
                                    <div class="col-md-2">
                                        <!--LOGO-->
                                        <div class="wrapper-logo">
                                            {%block logo %} <a class="logo-default" href="{% url 'Index' %}"><img src="{% static 'images/logo.png' %}" alt="" class="img-responsive"></a> {% endblock %}
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <!--MENU TEXT-->
                                        <div class="uni-main-menu">
                                            <nav class="main-navigation uni-menu-text">
                                                <div class="cssmenu">
                                                    <ul>
                                                        <li class="has-sub"><a href="{% url 'listDepartment' %}">Departamentos</a>
                                                            <ul>
                                                                <li><a href="{% url 'listDepartment' %}">Listado de departamentos</a></li>
                                                                <li><a href="{% url 'newDepartment' %}">Crear departmento</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub"><a href="{% url 'listDoctor' %}">Doctores</a>
                                                            <ul>
                                                                <li><a href="{% url 'listDoctor' %}">Listado de doctores</a></li>
                                                                <li><a href="{% url 'newDoctor' %}">Crear doctor</a></li>
                                                                <li><a>Buscar doctor</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub"><a href="{% url 'listPatient' %}">Pacientes</a>
                                                            <ul>
                                                                <li><a href="{% url 'listPatient' %}">Listado de pacientes</a></li>
                                                                <li><a href="{% url 'newPatient' %}">Crear paciente</a></li>
                                                                <li><a>Buscar paciente</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-sub"><a href="{% url 'listHistory' %}">Historias Clínicas</a>
                                                            <ul>
                                                                <li><a href="{% url 'listHistory' %}">Listado de departamentos</a></li>
                                                                <li><a href="{% url 'newHistory' %}">Crear historia clínica</a></li>
                                                                <li><a>Buscar historia clínica</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has"><a href="{% url 'aboutUs' %}">Nosotros</a>
                                                    </ul>
                                                </div>
                                            </nav>
                                        </div>

                                        <!--SEARCH AND APPOINTMENT-->
                                        <div class="uni-search-appointment">
                                            <ul>
                                                <li class="un-btn-search">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </li>
                                                <li class="uni-btn-appointment">
                                                    <a>Nuevo turno</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--FORM SEARCH-->
                                <div class="uni-form-search-header">
                                    <div class="box-search-header collapse in" id="box-search-header">
                                        <div class="uni-input-group">
                                            <input type="text" name="key" placeholder="Search" class="form-control">
                                            <button class="uni-btn btn-search">
                                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block content %}

                {% block banner %}
                    <div class="uni-banner-default uni-background-1">
                        <div class="container">
                            <!-- Page title -->
                            <div class="page-title">
                                <div class="page-title-inner">
                                    {% block bannertitle %}<h1>Pacientes</h1>{% endblock %}
                                </div>
                            </div>
                            <!-- End page title -->

                            <!-- Breadcrumbs -->
                            <ul class="breadcrumbs">
                                <li><a href="{% url 'Index' %}">Inicio</a></li>
                                {% block breadcrumbstitle %}<li><a href="{% url 'listPatient' %}">Lista de Pacientes</a></li>{% endblock %}
                            </ul>
                            <!-- End breadcrumbs -->
                        </div>
                    </div>
                {% endblock %}

                {% block buscador %}
                <main id="main" class="site-main">
                    <div class="uni-shop-body">
                        <div class="container">
                            <div id="content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="uni-single-product-left">
                                            <div class="uni-siderbar-left">
                                                <form action="http://medicare.vikitheme.com/html/action.php" method="post" accept-charset="utf-8">
                                                    <div class="vk-newlist-banner-test-search">
                                                        <input type="text" name="seach" placeholder="Search...">
                                                        <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="uni-shop-siderbar-right">
                                            <div class="product-filter">
                                                <p class="woocommerce-result-count">Showing <span>1–9</span> of <span>45</span> results</p>
                                                <form class="woocommerce-ordering" method="get">
                                                    <select name="orderby" class="orderby">
                                                        <option value="menu_order" selected="selected">Ordenar por</option>
                                                        <option value="popularity">Nombre</option>
                                                        <option value="rating">Apellido</option>
                                                        <option value="date">Fecha de registro</option>
                                                    </select>
                                                </form>
                                                <div class="clearfix"></div>
                                                <!-- .woocommerce-ordering -->
                                            </div>



                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock %}

                {% block maincontent %}
                <div id="main-content" class="site-main-content">
                        <main id="main" class="site-main">
                            <div class="uni-cart-body">
                                <div id="post" class="container">
                                    <div class="entry-content">
                                        <div class="woocommerce">
                                            <form class="woocommerce-cart-form" method="post">
                                                <table class="woocommerce-cart-form__contents table shop_table_responsive">
                                                    <thead>
                                                    <tr>
                                                        <th class="product-remove"></th>
                                                        <th class="product-name">Nombre</th>
                                                        <th class="product-name">Apellido</th>
                                                        <th class="product-name">DNI</th>
                                                        <th class="product-name">Fecha de registro</th>
                                                        <th class="product-name">Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    {% for pat in patients %}  
                                                    <tbody>
                                                    <tr class="woocommerce-cart-form__cart-item cart_item">
                                                        <td class="product-remove">
                                                            <a href="{% url 'patientDetail' pat.DNI %}" class="remove"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td class="product-name">
                                                            {{pat.name}}
                                                        </td>
                                                        <td class="product-name">
                                                            {{pat.surname}}
                                                        </td>
                                                        <td class="product-name">
                                                            {{pat.DNI}}
                                                        </td>
                                                        <td class="product-name">
                                                            {{pat.register_date}}
                                                        </td>
                                                        <td class="product-name">
                                                            <div class="uni-element-buttons-small">
                                                                <div class="uni-shortcode-button-title">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <a href="{% url 'updatePatient' pat.DNI %}" class="vk-btn  vk-btn-xs vk-btn-default text-uppercase bg-3f97da">
                                                                                <span class="title">Editar</span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <a href="{% url 'deletePatient' pat.DNI %}" class="vk-btn  vk-btn-xs vk-btn-default text-uppercase bg-e36060">
                                                                                <span class="title">Eliminar</span>
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>

                                                </table>
                                            </form>
                                            
                                            <div class="uni-search-appointment">
                                                <ul>
                                                    <li class="uni-btn-appointment">
                                                        <a href="{% url 'newPatient' %}">Nuevo paciente</a>
                                                    </li>
                                                    <li class="uni-btn-appointment">
                                                        <a href="{% url 'Index' %}">Volver al Inicio</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>

                </div>

                <!--PAGINATION-->
                <nav class="woocommerce-pagination">
                    <ul class="loop-pagination">
                        <li><a class="prev page-numbers" ><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        <li><a class="page-numbers current">1</a></li>
                        <li><a class="next page-numbers" ><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul><!-- .pagination -->
                </nav><br><br>
                {% endblock %}

            {% endblock %}

            {% block banner2 %}
            <div class="uni-banner-default uni-background-1">
                <div class="container">
                    <!-- Page title -->
                    <div class="page-title">
                        <div class="page-title-inner">
                        </div>
                    </div>
                    <!-- End page title -->

                    <!-- Breadcrumbs -->
                    <ul class="breadcrumbs">
                    </ul>
                    <!-- End breadcrumbs -->
                </div>
            </div>
            {% endblock %}

            {% block footer %}
            <footer class="site-footer footer-default">
                <div class="footer-main-content">
                    <div class="container">
                        <div class="row">
                            <div class="footer-main-content-elements">
                                <div class="footer-main-content-element col-md-3 col-sm-6">
                                    <aside class="widget">
                                        <div class="widget-title uni-uppercase"><a href="{% url 'Index' %}"><img src="{% static 'images/logowhite.png' %}" alt="" class="img-responsive"></a></div>
                                        <div class="widget-content">
                                            <p>
                                                Somos una Institución asistencial creada a principios de los años 60, cuyo objetivo esencial es “asistir y acompañar” a la persona enferma y su entorno.
                                            </p>
                                            <br>
                                            <div class="uni-info-contact">
                                                <ul>
                                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> Av. San Martín 7845, San Justo</li>
                                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 4553-0120 / 4553-0122</li>
                                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> medicareplus@medicare.com.ar</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                                <div class="footer-main-content-element col-md-3 col-sm-6">
                                    <aside class="widget">
                                        <h3 class="widget-title uni-uppercase">Accesos directos</h3>
                                        <div class="widget-content">
                                            <div class="uni-quick-link">
                                                <ul>
                                                    <li><a href="{% url 'Index' %}"><span>+</span> Inicio</a></li>
                                                    <li><a href="{% url 'Index' %}"><span>+</span> Acerca de nosotros</a></li>
                                                    <li><a href="{% url 'Index' %}"><span>+</span> Servicios</a></li>
                                                    <li><a href="{% url 'Index' %}"><span>+</span> Turnos</a></li>
                                                    <li><a href="{% url 'Index' %}"><span>+</span> Notas</a></li>
                                                    <li><a href="{% url 'Index' %}"><span>+</span> Contacto</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                                <div class="footer-main-content-element col-md-3 col-sm-6">
                                    <aside class="widget">
                                        <h3 class="widget-title uni-uppercase">Testimonios</h3>
                                        <div class="widget-content">
                                            <div class="uni-footer-latest-post">
                                                <ul>
                                                    <li>
                                                        <h4><a>Excelente atención, amabilidad y calidad humana.</a></h4>
                                                        <span class="time">Lucía, 12 de Junio de 2020</span>
                                                    </li>
                                                    <li>
                                                        <h4><a>No puedo describir lo feliz que estoy con el trato que recibí</a></h4>
                                                        <span class="time">Margos, 23 de Agosto de 2021</span>
                                                    </li>
                                                    <li>
                                                        <h4><a>Muy recomendable, un tramuatólogo de 5 estrellas según mi experiencia.</a></h4>
                                                        <span class="time">Gregorio, 9 de Enero de 2022</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                                <div class="footer-main-content-element col-md-3 col-sm-6">
                                    <aside class="widget">
                                        <h3 class="widget-title uni-uppercase">Boletín <span> informativo</span></h3>
                                        <div class="widget-content">
                                            <div class="uni-footer-newletter">
                                                <div class="input-group">
                                                    <input type="email" class="form-control" placeholder="Ingrese su e.mail">
                                                    <button class="btn btn-sub" type="submit">Suscribirse</button>
                                                </div>
                                                <div class="uni-social">
                                                    <h4>Seguinos</h4>
                                                    <ul>
                                                        <li><a href="https://facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="https://google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                        <li><a href="https://youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                        <li><a href="https://instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area">
                    <div class="container">
                        <div class="copyright-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="copyright-text"> <a href="{% url 'Index' %}">Templateshub</a></p>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="copyright-menu">
                                        <li><a href="{% url 'Index' %}">Términos de uso</a></li>
                                        <li><a href="{% url 'Index' %}">Políticas de privacidad</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock %}

        </div>
    </div>

{% endblock %}

