<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
</head>
<body>

    <table class="table table-bordered table-striped">        
        <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Género</th>
        <th>DNI</th>
        <th>E-mail</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        </thead>
        <tbody>      
            {% for pac in patient %}  
            <tr>
                <td>{{pac.name}}</td>
                <td>{{pac.surname}}</td>        
                <td>{{pac.genre}}</td>        
                <td>{{pac.patId}}</td>
                <td>{{pac.mail}}</td>  
                <td>{{pac.tel}}</td>  
                <td>{{pac.address}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button">
        <a href="{% url 'Start' %}">Return</a>
    </button>
</body>
</html>