{% extends 'AppCoder/base_list.html' %}

{% load static %}

{% block title %} Pacientes {% endblock %}

{% block bannertitle %}<h1>Pacientes</h1>{% endblock %}

{% block breadcrumbstitle %}<li><a href="{% url 'listPatient' %}">Lista de Pacientes</a></li>{% endblock %}

{% block maincontent %}
<div id="wrapper-container" class="site-wrapper-container">
    <div id="main-content" class="site-main-content">
        <div class="site-content-area">
            <main id="main" class="site-main">
                <div class="uni-cart-body">
                    <div id="post" class="container">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <form class="woocommerce-cart-form" method="post">
                                    <table class="woocommerce-cart-form__contents table shop_table_responsive">
                                        <thead>
                                        <tr>
                                            <th class="product-remove"></th>
                                            <th class="product-name">Nombre</th>
                                            <th class="product-name">Apellido</th>
                                            <th class="product-name">DNI</th>
                                            <th class="product-name">Fecha de registro</th>
                                            <th class="product-name">Acciones</th>
                                        </tr>
                                        </thead>
                                        {% for pat in patients %}  
                                        <tbody>
                                        <tr class="woocommerce-cart-form__cart-item cart_item">
                                            <td class="product-remove">
                                                <a href="{% url 'patientDetail' pat.DNI %}" class="remove"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </td>
                                            <td class="product-name">
                                                {{pat.name}}
                                            </td>
                                            <td class="product-name">
                                                {{pat.surname}}
                                            </td>
                                            <td class="product-name">
                                                {{pat.DNI}}
                                            </td>
                                            <td class="product-name">
                                                {{pat.register_date}}
                                            </td>
                                            <td class="product-name">
                                                <div class="uni-element-buttons-small">
                                                    <div class="uni-shortcode-button-title">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <a href="{% url 'updatePatient' pat.DNI %}" class="vk-btn  vk-btn-xs vk-btn-default text-uppercase bg-3f97da">
                                                                    <span class="title">Editar</span>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a href="{% url 'deletePatient' pat.DNI %}" class="vk-btn  vk-btn-xs vk-btn-default text-uppercase bg-e36060">
                                                                    <span class="title">Eliminar</span>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </form>
                                
                                {% block botonesfinales %}
                                <div class="uni-search-appointment">
                                    <ul>
                                        <li class="uni-btn-appointment">
                                            <a href="{% url 'newPatient' %}">Nuevo paciente</a>
                                        </li>
                                        <li class="uni-btn-appointment">
                                            <a href="{% url 'Index' %}">Volver al Inicio</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}

