{% extends 'AppCoder/base_forms.html' %}

{% load static %}

{% block title %} LogIn {% endblock %}

{% block header %}
<header>
    <div class="uni-medicare-header sticky-menu">
        <div class="container">
            <div class="uni-medicare-header-main">
                <div class="row">
                    <div class="col-md-2">
                        <!--LOGO-->
                        <div class="wrapper-logo">
                            {%block logo %} <a class="logo-default"><img src="{% static 'images/logo.png' %}" alt="" class="img-responsive"></a> {% endblock %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block bannertitle %} <h1>Inicio de sesión</h1> {% endblock %}

{% block formtitle %} <h3>Ingrese sus datos:</h3><br> {% endblock %}

{% block breadcrumbsinit %}{% endblock %}
{% block breadcrumbstitle %}{% endblock %}

{% block buscador %}{% endblock %}






