{% extends 'AppCoder/login.html' %}

{% load static %}

{% block title %} LogOut {% endblock %}

{% block banner %}
<div class="uni-banner-default uni-background-1">
    <div class="container">
        <!-- Page title -->
        <div class="page-title">
            <div class="page-title-inner">
                {% block bannertitle %}<h1>Sesión finalizada</h1><br><h2>¡Gracias por visitarnos, esperamos que vuelva pronto!</h2>{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="uni-banner-default uni-background-1">
    <div class="container">
        <!-- Page title -->
        <div class="page-title">
            <div class="page-title-inner">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block banner2 %}
<div class="uni-banner-default uni-background-1">
    <div class="container">
        <!-- Page title -->
        <div class="page-title">
            <div class="page-title-inner">
            </div>
        </div>
        <!-- End page title -->
        <div class="uni-search-appointment">
            <ul>
                <li class="uni-btn-appointment" style="border:solid 2px white; border-radius:15px; color:white;">
                    <a href="{% url 'login' %}" style="color:white;">Iniciar sesión</a>
                </li>
                <li class="uni-btn-appointment" style="border:solid 2px white; border-radius:15px; color:white;">
                    <a href="{% url 'register' %}" style="color:white;">Crear cuenta</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block maincontent %}{% endblock %}

{% block footer %}{% endblock %}