{% load static %}

{% block contenidoQueCambia %}
    
    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}
    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>
            {{ form.as_p }}
        </table>

        <input type="submit", value="Enviar">
        <button type="button">
            <a href="{% url 'Start' %}">Return</a>
        </button>
        
    </form>

{% endblock %}

