{% extends 'AppCoder/base_list.html' %}

{% load static %}

{% block title %} Mi Perfil {% endblock %}

{% block bannertitle %}<h1> <i class="fa fa-user-circle-o" aria-hidden="true"></i> Mi Perfil </h1>{% endblock %}

{% block breadcrumbsinit %}{% endblock %}
{% block breadcrumbstitle %}{% endblock %}

{% block maincontent %}

    {% block buscador %}
    {% endblock %}

    <div id="wrapper-container" class="site-wrapper-container">
        <div id="main-content" class="site-main-content">
            <div class="site-content-area">
                <main id="main" class="site-main">
                    <div class="uni-cart-body">
                        <div id="post" class="container">
                            <div class="entry-content">
                                <div class="woocommerce">
                                    <form class="woocommerce-cart-form" method="post">
                                        <table class="woocommerce-cart-form__contents table shop_table_responsive">
                                            <thead>
                                            <tr>
                                                <th class="product-name">Nombre de usuario</th>
                                                <th class="product-name">Email</th>
                                                <th class="product-name">Contraseña</th>
                                                <th class="product-name">Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <td class="product-name">
                                                    {{request.user.username}}
                                                </td>
                                                <td class="product-name">
                                                    {{request.user.email}}
                                                </td>
                                                <td class="product-name">
                                                    {{request.user.password1}}
                                                </td>

                                                <td class="product-name">
                                                    <div class="uni-element-buttons-small">
                                                        <div class="uni-shortcode-button-title">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <a  href="{% url 'editarPerfil' user.id %}" class="vk-btn  vk-btn-xs vk-btn-default text-uppercase bg-3f97da">
                                                                        <span class="title">Editar</span>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </form>
                                    
                                    {% block botonesfinales %}
                                    <div class="uni-search-appointment">
                                        <ul>
                                            <li class="uni-btn-appointment">
                                                <a href="{% url 'Index' %}">Volver al Inicio</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

{% endblock %}

{% block pagination %}{% endblock %}
